.seat {
    font-size: 3vw;
    border: 0.2vw solid var(--black);
    border-radius: 0.5vw;
    box-sizing: border-box;
    width: 8vw;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.seat__kurkul {
    border: 0.2vw solid var(--kurkul);
}

.seat__it {
    border: 0.2vw solid var(--it);
}

.seat__empty {
    border: 0.2vw solid var(--empty);
}

.seat__none {
    border: 0.2vw solid var(--none);
}

@media(min-width: 1000px){
    .seat {
        font-size: 32px;
    }
}
